body
{
	background-image: url(../IMAGENES/o.jpg);
    display: block;
}
#h1
{
    font-family: Monotype Corsiva; 
    font-size: 80px;
    padding: 10px;
    text-shadow: -1px -1px 0px #101010, 1px 1px 0px grey;
    color: white;
    text-shadow: 0px 0px 15px white;
}
#a
{
    text-decoration: none;
    color: white;
    font-family: maiandra gd;
}
#botones
{
    margin: 30px;
    padding: 10px;   
    display: block;
}
#imgvi, #imgmi, #imgno
{
    width: 580px;
    border-radius: 10px;
    margin: 10px;
}
#h1:hover
{
    color:#8D2A32;
    text-shadow: 0px 0px 15px white; 
}
#uno, #dos, #tres, #cuatro, #cinco
{
    border: none;
    width: 500px;
    height: 60px;
    background: #8D2A32;
    padding: 10px;
    margin: 4px;
    font-size: 38px;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    transition: all 500ms ease; 
}
#uno:hover, #dos:hover, #tres:hover, #cuatro:hover, #cinco:hover 
{
    background: rgba(0,0,0,0);
    color: black;
    box-shadow: inset 0 0 0 3px white;
}
#a:hover
{
    color: black;
}
#descripcion
{    
    margin: 30px;
    padding: 10px;  
    font-size: 20px;
    font-family: maiandra gd;
    background-color: white;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
}
#mi , #vi, #des, #eq
{
    width: 610px;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;  
    display: block;
    font-size: 20px;
    font-family: maiandra gd;
    background-color: white;
    color: black;
    border-radius: 20px;
    opacity: 0.6;

}
#vi, #eq
{
    float: right;
    display: block;
}
#mi, #des
{
    float: left;
    display: block;
}
#mi:hover, #vi:hover, #des:hover, #eq:hover, #descripcion:hover, #pe:hover
{
-webkit-transform: scale(1.10);
  -moz-transform: scale(1.10);
  position: relative;
  background-color: #8D2A32;
  opacity: 1.0;
  z-index: 2;
  color: white;
 -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);

}
#pe:hover
{
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    position: relative;
    background-color: #8D2A32;
    opacity: 1.0;
    z-index: 2;
    color: white;
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
    -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
#doc
{
    margin: 10px;
    width: 120px;
    height: 12 0px;
}
#tio
{   
    margin: 10px;
    width: 120px;
    height: 12 0px;
}
#pie h4
{
    color: white;
    font-size: 30px;
    font-family: Monotype Corsiva;
}
#pe
{
    margin: 40px;
    margin-top: 60px;
    padding: 30px;  
    display: block;
    font-size: 20px;
    font-family: maiandra gd;
    background-color: white;
    color: black;
    border-radius: 20px;
    opacity: 0.6;
}
.perros
{
    width: 385px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
}
.perros:hover
{   
    -moz-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    transform:rotate(3deg);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.25);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,.25);
}
.gatos
{
    width: 355px;
    height: 300px;
    border-radius: 10px;
    margin: 25px;
}
.gatos:hover
{   
    -moz-transform:rotate(3deg);
    -webkit-transform:rotate(3deg);
    transform:rotate(3deg);
    -webkit-transition: -webkit-transform .15s linear;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,.25);
    -moz-box-shadow: 0 5px 8px rgba(0,0,0,.25);
}
#ad
{
    width: 1000px;
    border-radius: 10px;
}